/* src/pages/GaleriFoto.css */
.galeri-foto .card-img-wrapper {
    overflow: hidden; /* Menjaga gambar tetap dalam batas card */
  }
  
  .galeri-foto .card-img-wrapper img {
    transition: transform 0.3s ease; /* Transisi untuk zoom efek */
  }
  
  .galeri-foto .card-img-wrapper:hover img {
    transform: scale(1.1); /* Zoom in efek */
  }
  .galeri-foto-header {
    width: 100vw; /* Ubah menjadi 100vw untuk memastikan seluruh lebar viewport */
    height: 200px;
    background-image: url('../assets/title-bg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    margin-left: calc(-50vw + 50%); /* Menyeimbangkan gambar agar meluas ke tepi */
  }
  
  .galeri-foto-title {
    font-size: 3rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }