/* src/pages/SOR.css */
.sfr-container {
    margin-top: 20px;
  }
  
  .list-card {
    margin-bottom: 20px;
  }
  
  .list-card .card-title {
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .list-card .card-title.active {
    font-weight: bold;
  }
  